@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --app-blue: #273c73;
    --app-blue-hover: #162342;
    --app-salmon: #ba5a49;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Background Colors */
.bg-primary {
    background-color: #ff0000;
}

/* Width */
.w-full {
    width: 100%;
}

/* Height */
.h-full {
    height: 100%;
}

/* Border Radius */
.b-radius-20 {
    border-radius: 20px;
}
